@media screen and (max-width:375px) {
    .card {
        width: 94vw;
        height: 85vh;
        flex-direction: column;
    }

    .left-card {
        background-image: url(images/image-product-mobile.jpg);
        width: 94vw;
        height: 30vh;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .right-card {
        width: 94vw;
        padding-inline: 25px;
    }

    .right-card h1 {
        font-size: 34px;
        /* position: relative;
        bottom: 10px; */
    }

    #right-card-h2 {
        font-size: 14px;
    }

    .payment-box {
        position: relative;
        right: 25px;
    }

    .cart-btn button {
        width: 81vw;
        height: 7vh;
    }
}