@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.card {
    background-color: white;
    width: 35vw;
    height: 55vh;
    border-radius: 10px;
}

.left-card {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    width: 17vw;
    height: 55vh;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.right-card {
    background-color: white;
    width: 17vw;
    height: 55vh;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 35px;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

#right-card-h2 {
    color: hsla(228, 12%, 48%, 0.494);
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.right-card h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 41px;
}

#definition-p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.payment-box {
    flex-direction: row;
    position: relative;
    right: 34px;
}

#price {
    font-size: 35px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

#disc-prize {
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    position: relative;
    top: 15px;
}

.cart-btn button {
    width: 13.5vw;
    height: 7vh;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    position: relative;
    bottom: 25px;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-size: 15.5px;
}

.cart-btn button:hover {
    background-color: hsl(158, 21%, 22%);
    cursor: pointer;
    transition: 0.2s ease-out;
}